<main class="aboutus">
    <section class="topsection">
        <h2 class="title-text">About and Contact us</h2>
    </section>
    <section class="sub-section">
        <section class="left-section">
            <form class="form-send-email">
                <input class="left-section-input" type="email" placeholder="Enter your email">
                <input class="left-section-input" type="text" placeholder="Enter you message">
                <a class="sendemail-btn" type="submit">Send</a>
            </form>
        </section>
        <section class="right-section">
            <p class="rightsectionh-txt">Phone number : <span class="right-subtext">0900000</span></p>
            <p class="rightsectionh-txt">Address : <span class="right-subtext">Iran ...</span></p>
        </section>
    </section>
</main>